#card-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    margin-top: 0.5rem;
}

.card {
    margin: 0.25rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.28rem;
    box-shadow: 0 0px 3px 1px gray;
}

.card h3 {
    margin: 0;
}